#ONE{
   
    color: green;
}
#TWO{
    color: red;
}
body{
    margin-left: 1cm;
}
h3{
    font-family: 'Lobster', cursive;
    font-size: x-large;
    color: palegreen;
    background-color: purple;
    width: 4cm;
    padding-left: 10px;
    border-radius: 12px;

}
#para1{
    font-family: 'Vujahday Script', cursive;
    font-size: larger;
    color: orangered;
    background-color: rgb(30, 29, 31);
    padding-left: 10px;
    border-radius: 10px;
    
}
#first{
    display: flex;
   
    

}
.firstdiv{
    width: 50%;
}
#imi{
    width: 17cm;
    height: 12cm;
    margin-top: 10px;
}
#imi2{
    width: 13cm;
    height: 8cm;
}
.para2{
    font-family: 'Vujahday Script', cursive;
    font-size: larger;
    color: black;
    background-color: rgb(226, 121, 226);
    border-radius: 10px;
    padding: 10px;
    
   
    padding: 5px;
    width: 20cm;
}
#second{
    display: flex;
    
}
.warr{
    color: rgb(15, 99, 184);
    font-family: 'Lobster', cursive;
    background-color: rgb(235, 158, 17);
    width: 8cm;
    padding-left: 10px;
    border-radius: 12px;
    

}
a{
    background-color: rgb(2, 14, 15);
    width: 20px;
    height: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(230, 224, 224);
    padding-left: 5px;
    text-align: center;
    
}

#third{
    display: flex;
 
}



#anthem{
    color: red;
    background-color: green;
    padding: 2cm;
    text-align: center;
    font-family: 'Lobster', cursive;
    width: 10cm;
    
}
.fourthdiv{
   
    box-shadow: 10px 10px 10px rgb(74, 74, 85);
    padding-left: 1cm;
   border-left: 7px solid;
   border-color: indigo;
  
   
}


#fourth{
    display: flex;
    
}
